<!doctype html>
<html>
<head>
    <!-- Meta tags -->
    <title>Booking at Hotel Sarathi - Dhulikhel, Nepal | Offical Website</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Fevicon -->
    <jcms:site:fevicon/>

    <link rel="stylesheet" href="style.css" />
    <link rel="stylesheet" href="min.css" />
    <link rel="stylesheet" href="../../css/be-styles.css" />
    <!-- start head script -->
    <script type="text/javascript" src="../../js/be-script.js"></script>
    <!-- end head script -->
</head>

<body class="be-booking-page">
    <div class="container">

        <!-- Navigation | START -->
        <header>
            <div class="center">
                <!-- Logo -->
                <jcms:site:logo/>

                <!-- Menu module -->
                <jcms:module:menu/>

                <!-- Social module -->
                <jcms:module:socilaLinktop/>

            </div>
        </header>
        <!-- Navigation | END -->

        <!--inner banner-->
        <div class="section heading fade visible">
            <div class="back" data-image="https://www.sarathihotel.com/images/package/banner/cFXF0-3.jpeg" alt="img reviews" style="background-image: url(&quot;https://www.sarathihotel.com/images/package/banner/cFXF0-3.jpeg&quot;);"></div>

            <div class="item">
                <div class="label"></div>
                <h1>Booking</h1>
            </div>
        </div>
        <!--inner banner end-->

        <main>

            <!-- start Booking form script -->
                <div id="be-booking-form"></div>
            <!-- end Booking form script -->

        </main>

        <!-- ******************** Main | END ******************** -->        

        <!-- Location module -->
        <jcms:module:footer/>

    </div>

    <!-- Script -->
    <script src="system/plugins.js"></script>
    <script src="script.js"></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.21.0/jquery.validate.min.js'></script>
    <script src='https://www.google.com/recaptcha/api.js' async defer></script>
    <jcms:footer:script/>
</body>
</html>