<!doctype html>
<html>
<head>
    <!-- Meta tags -->
    <jcms:site:seotitle/>
    <!-- Fevicon -->
    <jcms:site:fevicon/>

    <link rel="stylesheet" href="style.css" />
    <link rel="stylesheet" href="min.css" />
    <link rel="stylesheet" href="../../css/be-styles.css" />
    <!-- start head script -->
    <script type="text/javascript" src="../../js/be-script.js"></script>
    <!-- end head script -->
</head>

<body>
    <div class="container">

        <!-- Navigation | START -->
        <header>
            <div class="center">
                <!-- Logo -->
                <jcms:site:logo/>

                <!-- Menu module -->
                <jcms:module:menu/>

                <!-- Social module -->
                <jcms:module:socilaLinktop/>

            </div>
        </header>
        <!-- Navigation | END -->
        <!--inner banner-->
        <div class="section heading fade visible">
            <div class="back" data-image="https://www.sarathihotel.com/images/dhulikhel_view.jpg" alt="img reviews" style="background-image: url(&quot;https://www.sarathihotel.com/images/dhulikhel_view.jpg&quot;);"></div>

            <div class="item">
                <div class="label">Photo gallery</div>
                <h1>Hotel Sarathi Glimpse</h1>
            </div>
        </div>
        <!--inner banner end-->
        <!-- start Search form script -->
        <div id="block-search">
            <div id="be-search-form" class="be-container">
                <a href="https://exely.com/" rel="nofollow" target="_blank">Hotel management software</a>
            </div>
        </div>
        <!-- end Search form script -->
        <main>

            <!-- Gallery module-->
            <jcms:module:allgallery/>

        </main>

        <!-- ******************** Main | END ******************** -->        

        <!-- Location module -->
        <jcms:module:officeLocation/>

    </div>

    <!-- Script -->
    <script src="system/plugins.js"></script>
    <script src="script.js"></script>
    <jcms:footer:script/>
</body>
</html>