<!doctype html>
<html>
<head>
    <!-- Meta tags -->
    <jcms:site:seotitle/>
    <!-- Fevicon -->
    <jcms:site:fevicon/>

    <link rel="stylesheet" href="style.css" />
    <link rel="stylesheet" href="min.css" />
    <link rel="stylesheet" href="../../css/be-styles.css" />
    <!-- start head script -->
    <script type="text/javascript" src="../../js/be-script.js"></script>
    <!-- end head script -->
</head>

<body>
    <div class="container">

        <!-- Navigation | START -->
        <header>
            <div class="center">
                <!-- Logo -->
                <jcms:site:logo/>

                <!-- Menu module -->
                <jcms:module:menu/>

                <!-- Social module -->
                <jcms:module:socilaLinktop/>

            </div>
        </header>
        <!-- Navigation | END -->
          <!-- Contact Header | START -->
        <section class="contact-header-section">
            <div class="center">
                <div class="contact-title-row">
                    <h3>Gallery</h3>
                </div>
                <div class="contact-info-row">
                    <div class="contact-tagline">
                        <div class="breadcrumb-container">
                            <ul class="breadcrumb-list">
                                <li><a href="index.php">Home</a></li>
                                <li>Gallery</li>
                            </ul>
                        </div>
                        <h2><jcms:module:gallery-header-title/></h2>
                    </div>
                    <div class="contact-description">
                        <jcms:module:gallery-header-description/>
                    </div>
                </div>
            </div>
        </section>
        <!--inner banner-->

        <!--inner banner end-->
      
        <main>

            <!-- Gallery module-->
            <jcms:module:allgallery/>
        </main>

        <!-- ******************** Main | END ******************** -->        
  <!-- start Search form script -->
        <div id="block-search">
            <div id="be-search-form" class="be-container">
                <a href="https://exely.com/" rel="nofollow" target="_blank">Hotel management software</a>
            </div>
        </div>
        <!-- end Search form script -->
    <jcms:module:footer/>
         
        <!-- Location module -->

    </div>

    <!-- Script -->
    <script src="system/plugins.js"></script>
    <script src="script.js"></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.21.0/jquery.validate.min.js'></script>
    <script src='https://www.google.com/recaptcha/api.js' async defer></script>
    <jcms:footer:script/>
</body>
</html>