<!doctype html>
<html>
<head>
    <!-- Meta tags -->
    <jcms:site:seotitle/>
    <!-- Fevicon -->
    <jcms:site:fevicon/>

    <link rel="stylesheet" href="style.css" />
    <link rel="stylesheet" href="min.css" />
    <link rel="stylesheet" href="../../css/be-styles.css" />
    <!-- start head script -->
    <script type="text/javascript" src="../../js/be-script.js"></script>
    <!-- end head script -->
</head>

<body>
    <div class="container">

        <!-- Navigation | START -->
        <header>
            <div class="center">
                <!-- Logo -->
                <jcms:site:logo/>

                <!-- Menu module -->
                <jcms:module:menu/>

                <!-- Social module -->
                <jcms:module:socilaLinktop/>

            </div>
        </header>
        <!-- Navigation | END -->

        <!-- Offers module -->
        <jcms:module:offers-list/>


        <!-- Booking module -->
        <!--<jcms:module:booking-form/>-->
        <!-- Booking Bar | END -->
        <!-- start Search form script -->
        <div id="block-search">
            <div id="be-search-form" class="be-container">
                <a href="https://exely.com/" rel="nofollow" target="_blank">Hotel management software</a>
            </div>
        </div>
        <!-- end Search form script -->

        <main>

            <!-- Text Block | START -->
            <div class="section text feature fade">
            	<div class="center">
                
                    <div class="col-1">
                    	<h1>Packages include</h1>
                    </div>
                    
                </div>
            </div>
            <!-- Text Block | END -->

            <!-- USP Strip | START -->
            <div class="section usp fade">
            	<div class="center">
                
                    <div class="col-3">
                    	<div class="item">
                        	<i class="icon ion-ios-wineglass-outline"></i>
                            <h4>Soft Drinks on Arrival</h4>
                            <p>We Welcome our guest with fresh non-alcholic drinks upon arrival.</p>
                        </div>
                    </div>
                
                    <div class="col-3">
                    	<div class="item">
                        	<i class="icon ion-ios-clock-outline"></i>
                            <h4>Wake up service</h4>
                            <p>We offer a dependable wake up service in addition to a reminder service</p>
                        </div>
                    </div>
                    
                    <div class="col-3">
                    	<div class="item">
                        	<i class="icon ion-ios-eye-outline"></i>
                            <h4>Mountain View Rooms</h4>
                            <p>We explore the wonders of this city surrounded by Fishtail Mountain, Phewa lake and green hills.</p>
                        </div>
                    </div>
                    
                </div>
            </div>
            <!-- USP Strip | END -->


            <!-- Offers module -->
            <jcms:module:offers-rand/>

        </main>

        <!-- ******************** Main | END ******************** -->

        <!-- Location module -->

    </div>

    <!-- Script -->
    <script src="system/plugins.js"></script>
    <script src="script.js"></script>
    <jcms:footer:script/>
</body>
</html>