<!doctype html>
<html>
<head>
    <!-- Meta tags -->
    <jcms:site:seotitle/>
    <!-- Fevicon -->
    <jcms:site:fevicon/>

    <link rel="stylesheet" href="style.css" />
    <link rel="stylesheet" href="min.css" />
    <link rel="stylesheet" href="../../css/be-styles.css" />
    <!-- start head script -->
    <script type="text/javascript" src="../../js/be-script.js"></script>
    <!-- end head script -->
</head>

<body>
    <div class="container">

        <!-- Navigation | START -->
        <header>
            <div class="center">
                <!-- Logo -->
                <jcms:site:logo/>

                <!-- Menu module -->
                <jcms:module:menu/>

                <!-- Social module -->
                <jcms:module:socilaLinktop/>

            </div>
        </header>
        <!-- Navigation | END -->

        <!-- Package module -->
        <jcms:module:pakcage-header/>

        <!-- end Search form script -->
        <main>

            <!-- Package module -->
            <jcms:module:pakcage-detail/>
                  <!-- Services | END -->




            <!-- Package module-->
            <jcms:module:pakcage-slideimg/>

        </main>

        <!-- ******************** Main | END ******************** -->

         <div id="block-search">
            <div id="be-search-form" class="be-container">
                <a href="https://exely.com/" rel="nofollow" target="_blank">Hotel management software</a>
            </div>
        </div>
        <!-- Static Footer -->
        <jcms:module:footer/>
    </div>

    <!-- Script -->
    <script src="system/plugins.js"></script>
    <script src="script.js"></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.21.0/jquery.validate.min.js'></script>
    <script src='https://www.google.com/recaptcha/api.js' async defer></script>
    <jcms:footer:script/>
</body>
</html>