<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Meta tags -->
    <jcms:site:seotitle/>
    <!-- Fevicon -->
    <jcms:site:fevicon/>

    <link rel="stylesheet" href="style.css" />
    <link rel="stylesheet" href="min.css" />
    <link rel="stylesheet" href="../../css/be-styles.css" />
    <!-- start head script -->
    <script type="text/javascript" src="../../js/be-script.js"></script>
    <!-- end head script -->
</head>
<body>
    <div class="container">

        <!-- Navigation | START -->
        <header>
            <div class="center">
                <!-- Logo -->
                <jcms:site:logo/>

                <!-- Menu module -->
                <jcms:module:menu/>

                <!-- Social module -->
                <jcms:module:socilaLinktop/>

            </div>
        </header>
        <!-- Navigation | END -->

        <!-- Package module -->
        <jcms:module:inner-header/>

        <!-- Booking module -->
        <!--<jcms:module:booking-form/>-->
        <!-- Booking Bar | END -->
        <!-- start Search form script -->
        <div id="block-search">
            <div id="be-search-form" class="be-container">
                <a href="https://exely.com/" rel="nofollow" target="_blank">Hotel management software</a>
            </div>
        </div>
        <!-- end Search form script -->
        <main>
            <div class="" style="width:1170px;margin:auto;padding-top:50px;padding-bottom:50px;">
                <jcms:module:vt:detail-f-1/>
            </div>
        </main>

        <!-- ******************** Main | END ******************** -->

        <!-- Location module -->

    </div>


    <!-- Script -->
    <script src="system/plugins.js"></script>
    <script src="script.js"></script>
    <jcms:module:vt:script-f-1/>
</body>

</html>